@import "tailwindcss";

:root {
  /* Mobile */
  --tamanho-h1: 56px;
  --tamanho-h2: 40px;
  --tamanho-h3: 28px;
}

@media (min-width: 768px) {
  /* Desktop */
  :root {
    --tamanho-h1: 96px;
    --tamanho-h2: 64px;
    --tamanho-h3: 40px;
  }
}

@theme {
  /* Cores */
  --color-vermelho: #CB4048;
  --color-creme: #F2ECC8;
  --color-preto: #1A1A1A;
  --color-laranja: #F29F6D;

  --text-h1: var(--tamanho-h1);
  --text-h2: var(--tamanho-h2);
  --text-h3: var(--tamanho-h3);

  --font-title: var(--bebas-neue);
  --font-body: var(--chivo);
}

body {
  background-color: var(--color-creme);
  color: var(--color-preto);
}